body {
    margin: auto;
    text-align: center;
}

main {
    position: relative;
    width: 70%;
    min-height: 300px;
    margin-top: 2em;
    margin:auto;
}

#results {
    font-size: 2em;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold !important;
    color: white;
    font-size:1.2em;
}

.leftClick {
    background-color: rgb(255, 102, 0);
}

.doubleClick {
    background-color: rgb(3, 117, 54);
}

.rightClick {
    background-color: rgb(66, 1, 50);
}

.notifications {
    position: fixed;
    top: 20px;
}

#notifications-error {
    left: 50px;
}

#notifications-success {
    right: 50px;
}

@media screen and (min-width:1700px) {
    #notifications-error {
        left: 25%;
    }
    
    #notifications-success {
        right: 25%;
    }
}

.notification {
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-top: 1em;
    width:150px;
}

.notification.show {
    opacity: 1;
}